*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  
 
}
h1,p,label,input,textarea{
  margin: 0.75rem 0;
  
}
input, textarea{
  height: 1.75rem;
  width: 100%;
  border-radius: 5px;
}
:root{
  --lightYellow: #F7F2D4;
  --darkYellow: #FDDC22;
  --darkBlue: #236AB9;
  --darkRed: #D61A46;
  --dark: #091D34;

 }
body{
  background: var(--darkBlue);
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  background: var(--dark);
  box-shadow: 10px 10px 8px #000;
  transition: 1s;
  
  
  
}
.menu{
  display: none;
}
a{
  text-decoration: none;
  color: var(--darkYellow);
  transition: 3s;
  
}
nav a:hover{
  text-decoration: none;
}
a:hover{
  margin-top: -8px;
  transition: 1s;
  box-shadow: 5px 5px 8px blue;
  box-sizing: -5px -5px -8px blue;
  border-radius: 50%;
  text-decoration: none;
}
i{
  margin-right: 0.5rem;
  
}
i:hover{
  color: white;
}

  
main{
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  background: var(--dark);
  box-shadow: 10px 10px 8px #000;
  
  
}
.box:hover{
  flex-grow: 5;
  transition: 3s;
  box-shadow: 2px 3px 2px solid gray;
  
  
}
.box img{
  width: 100%;
  height: 100%;
  
}
input,label{
  width: 100%;
}

a:hover{
  
  
}
section, form, footer{
  display: block;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 5px;
  justify-content: center;
  color: #fff;
  background: var(--dark);
  box-shadow: 10px 10px 8px #000;
}
body:hover{
   animation: mymove 2s ease-out;
}
footer{
  text-align: center;
}
/*Animations*/
@keyframes mymove- {
  0% {transform: scale(0.60);}
  20% {transform: scale(0.90);}
  40% {transform: scale(1);}
  60% {transform: scale(1.1);}
  80% {transform: scale(1.15);}
 100% {transform: scale(1.15);}
}
@media(max-width:600px){
  
  a{
    margin-left: 10%;
    
  }
 
  
  
  main{
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
  }
  main .box{
    width: 100%;
    height: 150px;
  }
  main .box:hover{
    
    margin: 5% 0;
    height: 50%;
    transition: 3s;
  }
}
@media(max-width:600px){
  main{
    padding: 0;
    margin: auto;
  }
  main .box{
    width: 98%;
    margin-top: 0.5rem;
    justify-content: center;
  }
  nav{
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    
  }
  nav a{
    padding: 0.25;
  }
  
 
  
  
}