*{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


header{
    height: 120px;
    background-color: hsl(0, 39%, 50%);
    padding-bottom: 0;
}
nav{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    
}    

ul, footer{
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: center;
    background-color: hsl(0, 39%, 57%);
    padding: 10px;
    font-weight: bold;
    


}   
ul li{

    list-style: none;
    
} 
main{
    background-color: hsl(0, 12%, 81%);
    
}

#personal-info{
      width: 70%;
      padding: 30px;
      margin: auto;

    
}
#creator-photo{
    width: 250px;
    height: auto;
    float: right;
    margin: 40px 20px;
    
}
p{
    padding: 5%;
}
form{
    padding: 20px;
    
}
form input{
    display: block;
    line-height: 2;
    margin: 10px auto;
    width: 60%;
    border-radius: 10px;
    
}