*{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


header{
    height: 120px;
    background-color: hsl(0, 39%, 50%);
    padding-bottom: 0;
}
nav{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
    
    
}   

#personal-info{
    flex: 3;
}
.side{
    flex: 1;
    width: 250px;
}
footer{
    display: flex;
    height: 50px;
    gap: 20px;
    justify-content: center;
    background-color: hsl(0, 39%, 57%);
    padding: 10px;
    font-weight: bold;
    


}   
nav ul li{
    list-style: none;
    padding: 0 15px;
    color: hsl(0, 2%, 37%);
    margin: 0;
    display: flex;
    
    
} 
ul{
    display: flex;
    background-color: hsl(0, 39%, 57%);
    padding: 25px;
}
nav ul li a{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   
}
a:link{
    text-decoration: none;;
}
li:hover{
    color: #ffff;
    text-decoration: underline;
}
main{
    width: 100%;
    background-color: hsl(0, 12%, 81%);
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#languages{
    display: block;
    
}
#languages ul li{
   
   
}
#personal-info{
      width: 70%;
      padding: 30px;
      margin: auto;

    
}
#creator-photo{
    width: 250px;
    height: auto;
    float: right;
    margin: 40px 20px;
    box-shadow: 3px 3px 4px gray;
    
}
p{
    margin: 1% 5%;
    line-height: 1.7;
}
form{
    padding: 20px;
    
}
form input{
    display: block;
    line-height: 2;
    margin: 10px auto;
    width: 50%;
    border-radius: 10px;
    
}

@media only screen and (max-width:600px){
    main{
        flex-direction: row-reverse;
    }
    .side{
        display: none;
    }
    nav{
        display: block;
    }
}