*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Ariel, sans-serif;
     
  }
  :root{
    --blue-gradient: linear-gradient(#1a0033, #4f0099);
    --light-blue-gradient: linear-gradient(to bottom left, #cc33ff 0%, #000099 100%);
    --grey-gradient: linear-gradient(to top, #53504f, #f0eef0 80%);
    --garamond: font-family: garamond;
  }
  input, .right-side{
    background: linear-gradient(to bottom left, #cc33ff 0%, #000099 100%);
    color: white;
  }
  body{
    background: hsl(285, 100%, 50%);
  }
  main{
    
    width: 850px;
    
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
  }
  nav{
    padding-bottom: 4rem 0rem;
  }
  ul{
    display: flex;
    position: relative;
    list-style: none;
    gap: 50px;
    padding: 3rem 1rem;
    background: var(--blue-gradient);
    color: #bccb;
  }
  nav ul ul{
    background: transparent;
    list-style-position: none;
    position: absolute;
    left: 0;
    display: none;
    
  }
  #font-choices{
    background: transparent;
    list-style-position: none;
    position: absolute;
    left: 0;
    margin-top: -15px;
    display: flex;
    color: #fff;

  }
  
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: auto;
    padding: 0.5rem;

    
  }
  .left{
    position: relative;
    height: 300px;
    width: 300px;
    background: var(--blue-gradient);
    border-radius: 5px;
  }
  .card-front{
    position: relative;
    display: block;
    width: 220px;
    height: 120px;
    background: var(--light-blue-gradient);
    top: 2rem;
    left: 9rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    color: #fff;
  }

  .card-front-sofia{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: red;
    
  }
  .card-back{
    position: relative;
    width: 220px;
    height: 120px;
    background: var(--grey-gradient);
    top: 3rem;
    left: 12rem;
    border-radius: 5px;
    
  }
  i{
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
  }
  .card-front i:nth-child(2){
    font-size: 0.75rem;
    background: transparent;
    color: #fff;
  }
  .card-front p{
    
   color: #fff;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15px;
  }
  
  .bottom-strip{
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    
  }
  .magnetic-strip{
    position: absolute;
    width: 100%;
    background: #000;
    height: 2rem;
    margin-top: 20px;
    
    
    
  }
  .signature-strip{
    margin: 45px auto;
    width: 90%;
    background: #ccd0cc;
    height: 1.5rem;
    text-align: right;
    align-items: center;
    
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    
   
  }
  .right-side{
    display: grid;
    border: 1px solid black;
    width: 90%;
    height: 300px;
    padding: 3rem;
    border-radius: 5px;;
    
  }
  .card-details{
    margin-left: 30%;
    display: block;
  }
  label{
    font-size: 12px;
  }
  table{
    width: 80%;
  }
  button{
    width: 150px;
    background: purple;
    opacity: 0.5;
    margin-left: 30%;
    color: white;
    border-radius: 5px;
  }
  button:hover{
    opacity: 0.8;
  }
  #month, #year{
    width: 55px;
  }
  .card-details td input{
    display: block;
    width: 30px;
  }
  .card-details tr{
    font-size: 0.75rem;
  }
  #warning-message{
    color: red;
    font-size: 0.7rem;
    padding-top: 2rem;
  }
    
  
  