button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    color: white;
  }
  #bars{
    display: none;
    float: right;
    color: white;
    margin-top: -0.95rem;
    margin-right: 0.25rem;
    
    
    
  }
  .hero-background{
   background-image: url('https://images.unsplash.com/photo-1597733336794-12d05021d510?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2h8ZW58MHx8MHx8fDA%3D');
    height: 500px;
    z-index: -1;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
  #hero-text{
    font-size: 3rem;
    color: white;
    padding-top: 6rem;
   
    
    
  }
  .imbard{
    border: 2px white;
    color: white;
  }
  /*select{
   transform: scale(1.1);
   
  }
  */
  .bounce{
     transition: 0.5s ease-in-out;
  }
  .bounce:hover{
    margin-top: -8px;
    transition: 0.5s ease-in-out;
    transform: scale(1);
    
  }
  .bounce img:hover{
    filter: grayscale(70%);
  }
  
   
  
  .bounce a:hover{
    text-decoration: underline;
  }
  .divider{
    
    background-color: #efeff5;
    transform: skewX(-15deg);
    width: 5px;
    height: 220px;
    
  }
  
  #image-container{
    border-right: translateY(20deg);
    
  }
  @media(max-width:800px){
    .divider{
      display: none;
    }
    #seven-column-grid{
      grid-template-columns: repeat(2,2fr);
    }
    #bars{
      display: block;
      margin-top: -0.75rem;
    }
    #nav-bar{
      display: none;
    }
  }